<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ホーム画面</title>
    <link rel="stylesheet" href="/ChatPET/static/css/index.css">
</head>




<body>
    
    <header>
        <h1 
        style="display: grid;place-items: center;">
        chat PET</h1>

        <img src="../static/img/プロフィール編集.jpg"  width="40" height="40"
        style="position: relative;left: 1160px;bottom: 60px;">

        <img src="../static/img/ログアウト.jpg"  width="40" height="40"
        style="position: relative;left: 1200px;bottom: 60px;">
        
        </header>

<ul>
    <li>
        <img src="../static/img/inu.jpg"  width="64" height="64" 
        style="position:relative;top:60px;">
        <button style="position: relative;justify-content: center;
        left: 64px;width: 560px;">

            トークルームへ
            <div class="arrow-wrapper">
                <div class="arrow"></div>
        
            </div>
        </button>
</li>
</ul>     

<ul>
    <li>
        <img src="../static/img/neko.jpg"width="64"height="64"
        style="position:relative;top:60px;">
        <button style="position: relative;justify-content: center;
        left: 64px;width: 560px;">
            トークルームへ
            <div class="arrow-wrapper">
                <div class="arrow"></div>
        
            </div>
        </button>

    </li>
</ul>

<ul>
    <li>
        <img src="../static/img/tori.jpg"width="64"height="64"
        style="position:relative;top:60px;">
        <button style="position: relative;justify-content: center;
        left: 64px;width: 560px;">
            トークルームへ
            <div class="arrow-wrapper">
                <div class="arrow"></div>
        
            </div>
        </button>
    </li>
</ul>

<ul>
    <li>
        <img src="../static/img/sakana.png"  width="64" height="64"
        style="position:relative;top:60px;"> 
        <button style="position: relative;justify-content: center;
        left: 64px;width: 560px;">
            トークルームへ
            <div class="arrow-wrapper">
                <div class="arrow"></div>
        
            </div>
        </button>
    </li>
</ul>



</body>
